<html>
<head>
<title>Private Blockchain Explorer | Udacity ND</title>
<style>
.navigation a {
	margin-right: 10px;
}
</style>
</head>
<body>
	<div class="container" style="padding: 50px 100px; font-family: Calibri;">
		<div class="navigation"><a href="/">Home</a><a href="/block/add/">Add block</a><a href="/block/">Get block</a></div>
		<h1>Private Blockchain Explorer | Udacity ND</h1>
		<p>Here you'll be able to explore the private blockchain we built in the Udacity degree.</p><br><br>
		<h4><u>Usability</u></h4>
		<ul>
			<li><u>Get block data</u>  ===>  Navigate to <a href="/block/0">/block/[height]</a> and replace height with a block height to obtain the block object.</li>
			<li><u>Add a new block</u>  ===>  Navigate to <a href="/block/add/">/block/add/</a> and fill in data to be put into the chain.</li>
		</ul>
	</div>
</body>
</html>
